p {
    font-family: Georgia;
    font-size: 15px;
}

h2 {
}

img.transparent {
    opacity: 0.5;
}

label {
    font-family: Georgia;
    font-size: 15px;
}

span {
    font-family: Georgia;
    font-size: 15px;
}